In [3]:
# Load library
import pandas as pd
import numpy as np
import json
import pickle

In [4]:
# Load model and other files
with open('model.pkl', 'rb') as file_1:
  model = pickle.load(file_1)

# Load list kolom numerikal
with open('list_num_cols.txt', 'r') as file_2:
    num_cols = json.load(file_2)

# Load list kolom kategorikal from the JSON file
with open('list_cat_cols.txt', 'r') as file_3:
    cat_cols = json.load(file_3)

# Load encoder
with open('encoder.pkl', 'rb') as file_4:
  encoder = pickle.load(file_4)

# Load scaler
with open('scaler.pkl', 'rb') as file_5:
  scaler = pickle.load(file_5)

## Data Inference

In [5]:
data = pd.DataFrame([{
    'Name': 'Riki',
    'Age': 26,
    'Height': 300,
    'Weight':73,
    'ValueEUR':5_000_000,
    'AttackingWorkRate':'High',
    'DefensiveWorkRate':'High',
    'PaceTotal':100,
    'ShootingTotal':100,
    'PassingTotal':100,
    'DribblingTotal':100,
    'DefendingTotal':100,
    'PhysicalityTotal':100
}])

data

,Name,Age,Height,Weight,ValueEUR,AttackingWorkRate,DefensiveWorkRate,PaceTotal,ShootingTotal,PassingTotal,DribblingTotal,DefendingTotal,PhysicalityTotal
0,Riki,26,300,73,5000000,High,High,100,100,100,100,100,100

### Feature Engineering

In [6]:
# Split cat and num
data_num = data[num_cols]
data_cat = data[cat_cols]

# Encode the cat
data_cat_encode = encoder.transform(data_cat)

# Scale the num
data_num_scale = scaler.transform(data_num)

# Concatenate
data_final = np.concatenate([data_cat_encode, data_num_scale], axis = 1)

### Predict the Inference

In [7]:
# Predict the score
score = model.predict(data_final)

# Show the result
print(f'Pemain {data.Name[0]} Mendapatkan Score Overall sebesar: {score[0]:.2f}')

Pemain Riki Mendapatkan Score Overall sebesar: 97.97